<table>
  <thead>
    <tr>
      <th>Product Id</th>
      <th>Product Name</th>
      <th>Quantity Sold</th>
    </tr>
  </thead>
  <tbody>
    <% @products_sold_count.each do |product, quantity_sold| %>
      <tr>
        <td><%= product.id %></td>
        <td><%= product.name %></td>
        <td><%= quantity_sold %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr>

<table>
  <thead>
    <tr>
      <th>Item Id</th>
      <th>Item Name</th>
      <th>Quantity Sold</th>
    </tr>
  </thead>
  <tbody>
    <% @items_sold_count.each do |item, count| %>
      <tr>
        <td><%= item.id %></td>
        <td><%= item.name %></td>
        <td><%= count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
